In [9]:
import os
import pandas as pd

In [4]:
dir_exp = "/gpfs/project/zhao/zy92/GTEX/adjusted_expr"
chr_str_vec = os.listdir(dir_exp)

In [6]:
os.chdir(dir_exp)

In [7]:
count_dict = {}
for chr_str in chr_str_vec:
    os.chdir(chr_str)
    count_dict[chr_str] = len(os.listdir())
    os.chdir("..")

In [13]:
list(count_dict.items())

[('chr5', 1380),
 ('chr22', 565),
 ('chr15', 852),
 ('chr1', 2584),
 ('chr17', 1414),
 ('chr10', 1015),
 ('chr12', 1419),
 ('chr18', 510),
 ('chr21', 377),
 ('chr20', 713),
 ('chr11', 1587),
 ('chr13', 529),
 ('chr6', 1356),
 ('chr19', 1675),
 ('chr7', 1187),
 ('chr8', 1093),
 ('chr9', 1035),
 ('chr2', 1850),
 ('chr14', 938),
 ('chr3', 1443),
 ('chr4', 1195),
 ('chr16', 1158)]

In [15]:
df = pd.DataFrame(list(count_dict.items()))

In [17]:
df.columns = ['chr', 'gene_count']

In [18]:
df

      chr  gene_count
0    chr5        1380
1   chr22         565
2   chr15         852
3    chr1        2584
4   chr17        1414
5   chr10        1015
6   chr12        1419
7   chr18         510
8   chr21         377
9   chr20         713
10  chr11        1587
11  chr13         529
12   chr6        1356
13  chr19        1675
14   chr7        1187
15   chr8        1093
16   chr9        1035
17   chr2        1850
18  chr14         938
19   chr3        1443
20   chr4        1195
21  chr16        1158

In [19]:
sum(df.gene_count)

25875